---
import Cards from "./Cards.astro";
---
<h2 class=" text-center text-5xl font-bold sm:text-5sl sm:text-center text-slate-900 dark:text-white duration-700 relative transform opacity-0 transition-all translate-y-12 ease-out" data-replace='{ "translate-y-12": "translate-y-0", "opacity-0": "opacity-100" }'>
Aurora Motor Monitoring System	
</h2> <br> <br>
<div class="grid grid-cols-1 gap-4 justify-center">
<Cards title="Realtime Motor Monitoring and Analysis" caption="To monitor and maintain motor and battery of electric vehicles for analysis and troubleshooting" image="./rtmonit.png"/>
<Cards title="CAN enabled communication system " caption="Our system uses CAN enabled communication system for fast and seamless wired communication protocol" image="./can.png"/>
<Cards title="Predictive analysis using Machine Learning Model" caption="Machine learning model is used to make predictive analysis on health of motor and battery and to alert user on motor overheating vulnearabilities" image="./neural.png"/>
<Cards title="Thermal Mapping of Motor and Battery Using Augmented Reality" caption="To visualize thermal representation of motor and battery without extensive use of thermocouple" image="./thermalmot.png"/>
</div>